<div class="display-message">
    <p class="heading">Order from nearest super market it is easy</p>
    <p class="content">Order fresh vegitabls,fruits, and grocery items from your nearest
        store <br> with greate discount and proper management
    </p>
    <button>Order now</button>
</div>
<div class="shop-by-catogory">
    <div class="card">
        <img src="images/apple.jpg" alt="">
        <p class="topic">Fruits</p>
        <a href="">shop now</a>
    </div>
    <div class="card">
        <img src="/images/vegitable.jpeg" alt="">
        <p class="topic">Vegitables</p>
        <a href="">shop now</a>
    </div>
    <div class="card">
        <img src="images/rices.jpg" alt="">
        <p class="topic">Rices</p>
        <a href="">shop now</a>
    </div>
    <div class="card">
        <img src="/images/p-care.jpg" alt="">
        <p class="topic">Personal care</p>
        <a href="">shop now</a>
    </div>
    <div class="card">
        <img src="/images/dry-f.jpeg" alt="">
        <p class="topic">Dry fruits</p>
        <a href="">shop now</a>
    </div>
</div>